<!--contenido de usuario, menu principal lateral-->
<div class="sidebar-header">
    <div class="user-pic">
      <img class="img-responsive img-rounded" src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1606/tuktukdesign160600119/59070200-icono-de-usuario-hombre-perfil-hombre-de-negocios-avatar-icono-persona-en-la-ilustraci%C3%B3n-vectorial.jpg"
        alt="User picture">
    </div>
    <div class="user-info">
      <span class="user-name">
        <strong>{{UserName}}</strong>
      </span>
      <!--<span class="user-role">Administrator</span>-->
      <span class="user-status">
        <i class="fa fa-circle"></i>
        <span>Online</span>
      </span>
    </div>
  </div>
  <!-- sidebar-header  -->